In [1]:
%store -r __importRegression

In [2]:
__importRegression

/home/maviator/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
air_data = pd.read_csv('input/air_reserve.csv')
hpg_data = pd.read_csv('input/hpg_reserve.csv')
air_store_info = pd.read_csv('input/air_store_info.csv')
hpg_store_info = pd.read_csv('input/hpg_store_info.csv')
air_visit_data = pd.read_csv('input/air_visit_data.csv')
date_info = pd.read_csv('input/date_info.csv')
store_id_relation = pd.read_csv('input/store_id_relation.csv')

In [4]:
air_data.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [5]:
hpg_data.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [6]:
air_store_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [7]:
hpg_store_info.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [8]:
air_visit_data.head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

In [9]:
date_info.head()

  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

In [10]:
submission = pd.read_csv('input/sample_submission.csv')

In [11]:
submission.head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [12]:
store_id_relation.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

In [15]:
visits = air_visit_data.groupby(['air_store_id', 'visit_date'], as_index=False).agg({'visitors': sum})

In [16]:
visits.head()

           air_store_id  visit_date  visitors
0  air_00a91d42b08b08d9  2016-07-01        35
1  air_00a91d42b08b08d9  2016-07-02         9
2  air_00a91d42b08b08d9  2016-07-04        20
3  air_00a91d42b08b08d9  2016-07-05        25
4  air_00a91d42b08b08d9  2016-07-06        29

In [17]:
submission.head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [20]:
submission.id[0].split('_')[0]

['air', '00a91d42b08b08d9', '2017-04-23']

In [21]:
submission['air_store_id'] = submission.id.apply(lambda x: str(x.split('_')[0]) + '_' + str(x.split('_')[1]))

In [22]:
submission.head()

                                id  visitors          air_store_id
0  air_00a91d42b08b08d9_2017-04-23         0  air_00a91d42b08b08d9
1  air_00a91d42b08b08d9_2017-04-24         0  air_00a91d42b08b08d9
2  air_00a91d42b08b08d9_2017-04-25         0  air_00a91d42b08b08d9
3  air_00a91d42b08b08d9_2017-04-26         0  air_00a91d42b08b08d9
4  air_00a91d42b08b08d9_2017-04-27         0  air_00a91d42b08b08d9

In [23]:
submission['visit_date'] = submission.id.apply(lambda x: str(x.split('_')[2]))

In [24]:
submission.head()

                                id  visitors          air_store_id  visit_date
0  air_00a91d42b08b08d9_2017-04-23         0  air_00a91d42b08b08d9  2017-04-23
1  air_00a91d42b08b08d9_2017-04-24         0  air_00a91d42b08b08d9  2017-04-24
2  air_00a91d42b08b08d9_2017-04-25         0  air_00a91d42b08b08d9  2017-04-25
3  air_00a91d42b08b08d9_2017-04-26         0  air_00a91d42b08b08d9  2017-04-26
4  air_00a91d42b08b08d9_2017-04-27         0  air_00a91d42b08b08d9  2017-04-27

In [25]:
submission.pop('visitors');

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
31989    0
31990    0
31991    0
31992    0
31993    0
31994    0
31995    0
31996    0
31997    0
31998    0
31999    0
32000    0
32001    0
32002    0
32003    0
32004    0
32005    0
32006    0
32007    0
32008    0
32009    0
32010    0
32011    0
32012    0
32013    0
32014    0
32015    0
32016    0
32017    0
32018    0
Name: visitors, dtype: int64

In [26]:
submission.head()

                                id          air_store_id  visit_date
0  air_00a91d42b08b08d9_2017-04-23  air_00a91d42b08b08d9  2017-04-23
1  air_00a91d42b08b08d9_2017-04-24  air_00a91d42b08b08d9  2017-04-24
2  air_00a91d42b08b08d9_2017-04-25  air_00a91d42b08b08d9  2017-04-25
3  air_00a91d42b08b08d9_2017-04-26  air_00a91d42b08b08d9  2017-04-26
4  air_00a91d42b08b08d9_2017-04-27  air_00a91d42b08b08d9  2017-04-27

In [27]:
visits['visit_date'] = pd.to_datetime(visits.visit_date, format='%Y-%m-%d')

In [31]:
submission['visit_date'] = pd.to_datetime(submission.visit_date, format='%Y-%m-%d')

In [34]:
submission.visit_date[0].year

2017

In [35]:
def weekSince2016(t):
    if t.year == 2016:
        return t.week
    else:
        return 52 + t.week

In [36]:
submission['week_count'] = submission.visit_date.apply(weekSince2016)

In [37]:
submission.head()

,id,air_store_id,visit_date,week_count
0,air_00a91d42b08b08d9_2017-04-23,air_00a91d42b08b08d9,2017-04-23,68
1,air_00a91d42b08b08d9_2017-04-24,air_00a91d42b08b08d9,2017-04-24,69
2,air_00a91d42b08b08d9_2017-04-25,air_00a91d42b08b08d9,2017-04-25,69
3,air_00a91d42b08b08d9_2017-04-26,air_00a91d42b08b08d9,2017-04-26,69
4,air_00a91d42b08b08d9_2017-04-27,air_00a91d42b08b08d9,2017-04-27,69

In [38]:
visits['week_count'] = visits.visit_date.apply(weekSince2016)

In [39]:
visits.head()

           air_store_id visit_date  visitors  week_count
0  air_00a91d42b08b08d9 2016-07-01        35          26
1  air_00a91d42b08b08d9 2016-07-02         9          26
2  air_00a91d42b08b08d9 2016-07-04        20          27
3  air_00a91d42b08b08d9 2016-07-05        25          27
4  air_00a91d42b08b08d9 2016-07-06        29          27

In [40]:
submission.week_count.describe()

count    32019.000000
mean        71.153846
std          1.641452
min         68.000000
25%         70.000000
50%         71.000000
75%         73.000000
max         74.000000
Name: week_count, dtype: float64

First week is week 68, so if we want last week of visitors as predicitions, we will use predictions from week 67.

In [44]:
submission.head()

,id,air_store_id,visit_date,week_count
0,air_00a91d42b08b08d9_2017-04-23,air_00a91d42b08b08d9,2017-04-23,68
1,air_00a91d42b08b08d9_2017-04-24,air_00a91d42b08b08d9,2017-04-24,69
2,air_00a91d42b08b08d9_2017-04-25,air_00a91d42b08b08d9,2017-04-25,69
3,air_00a91d42b08b08d9_2017-04-26,air_00a91d42b08b08d9,2017-04-26,69
4,air_00a91d42b08b08d9_2017-04-27,air_00a91d42b08b08d9,2017-04-27,69

In [42]:
y_pred = np.zeros(submission.shape[0])

In [43]:
y_pred.shape

(32019,)

In [46]:
values = visits[(visits.air_store_id == 'air_00a91d42b08b08d9') & (visits.week_count==67)]

In [48]:
values.visitors.sum()

161

In [52]:
from tqdm import tqdm_notebook

In [54]:
for i in tqdm_notebook(xrange(y_pred.shape[0])):
    store_id = submission.air_store_id[i]
    if store_id in visits.air_store_id.values:
        values = visits[(visits.air_store_id == store_id) & (visits.week_count == 67)]['visitors'].sum()
        y_pred[i] = values
    else:
        y_pred[i] = 0

In [55]:
test_submit = pd.DataFrame({'id': submission.id.values, 'visitors': y_pred})
print test_submit.shape
test_submit.to_csv('last_week_predictions.csv', index=False)
test_submit.head()

(32019, 2)

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23     161.0
1  air_00a91d42b08b08d9_2017-04-24     161.0
2  air_00a91d42b08b08d9_2017-04-25     161.0
3  air_00a91d42b08b08d9_2017-04-26     161.0
4  air_00a91d42b08b08d9_2017-04-27     161.0

In [57]:
test_submit.visitors.describe()

count    32019.000000
mean       129.663825
std         83.989516
min          0.000000
25%         67.000000
50%        110.000000
75%        180.000000
max        684.000000
Name: visitors, dtype: float64